.app__users {
    height: 100vh;
    text-align: center;
    .app__form {
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 1rem;
        .app-designed {
            position: absolute;
            bottom: 0;
        }
        .form-section {
            display: flex;
            flex-direction: column;
            select {
                margin-top: 0.4rem;
                background-color: white;
                display: block;
                width: 100%;
                font-size: 1em;
                border: 1px solid #333;                 
            } 
            input {
                padding: 0.1rem 3rem;
                outline: none;
                border: none;
                border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                transition: var(--transition);
            
                &:focus {
                    border-color: rgb(0,0,0);
                    border-color: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(86,86,86,1) 36%, rgba(168,168,168,1) 61%, rgba(181,181,181,1) 76%, rgba(191,191,191,1) 90%, rgba(255,255,255,1) 100%); 
                }
             @media screen and (max-width: 450px) {
                padding: 0.1rem 1rem;
             }
            }
            p {
                font-size: var(--input-text);
                color: red;
            }

        }
    }
    .btn__login {
        font-weight: var(--medium-font-weight);
        padding: 0.4rem 1rem;
        font-size: 1rem;
    }
}
