.app__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    gap: 0.5rem;
    border-radius: 1.5%;
    border: .1px solid var(--primary-color);
    


    transition: var(--transition);
 
    
    &:hover {
        scale: (1.03);
        box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.75);
    }
    
    img {
        width: fit-content;
        border-radius: 50%;
    }
    svg {
        color: var(--secondary-color);
        position: relative;
        left: -10px;
        top: 1.5px;
    }
    p {
        color: var(--secondary-color);;
    }
    @media screen and (max-width: 450px) {
        padding: 0.8rem;
    }
}